<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <appSettings>
<!--    <add key="Url" value="http://10.226.228.83/OOAWebMerge//" />  -->
    <add key="Url" value="https://www.google.com/" />
    <add key="HubUrl" value="http://USHYDKKOTRA4:4444/wd/hub" />
    <add key="ValidateTestandBrowser" value=".\DataSources\UIOnlineMobile_TestData.xml" />
    <add key="TestCaseSelectionPath" value=".\DataSources\TestCaseSelection.xlsx" />
    <add key="TestDataSourcePath" value=".\DataSources\SeleniumTestData.xlsx" />
    <add key="ExcelDataSourcePath" value=".\DataSources\UIOnlineMobile_TestData.xlsx" />
    <add key="TestResultPath" value="C:\\TestResults" />
    <add key="ReportCSSPath" value="C:\\CSS\\Reports.css" />
    <add key="TestResult" value="C:\Results\TestResult_{0}_{1}" />
    <add key="XMLTestResultsPath" value="C:\TFS\EDD.CCR\EDDCCRSolution-R3\EDD.CCR.WebUnitTest\bin\Debug\TestResult.xml" />
    <add key="ExcelTestResultsPath" value="C:\TFS\EDD.CCR\EDDCCRSolution-R3\EDD.CCR.WebUnitTest\bin\Debug\" />
    <add key="INIFilePath" value="C:\Selenium\Latest Version Project\SeleniumTestBeta2.2\Data.ini" />
    <add key="SaveScreenShot" value="N" />
    <add key="HomePath" value="C:\SeleniumRunResults" />
    <add key="BrowserStackUser" value="ranjanbarik1" />
    <add key="BrowserStackKey" value="Cg56EBULymxFWxvi8k5B" />
    <add key="RunParallel" value="N" />
    <add key="RunOnSeleniumGrid" value="N" />
    <add key="DriverSourcePath" value="C:\\Selenium\\Drivers" />
    <add key="TestSettingConfigFile" value=".\DataSources\TestSettings.config" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="FireFoxProfilePath" value="C:\FirefoxProfile"/>
    <add key="FirefoxBrowserName" value="firefox" />
    <add key="FirefoxBrowserVersion" value="12.0" />
    <add key="ChromeBrowserName" value="chrome" />
    <add key="ChromeBrowserVersion" value="38.0" />
    <add key="IEBrowserName" value="internet explorer" />
    <add key="IEBrowserVersion" value="11.0" />
  </appSettings>
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <alias alias="IWebDriver" type="OpenQA.Selenium.IWebDriver, WebDriver" />
    <!--<alias alias="InternetExplorerDriver" type="OpenQA.Selenium.IE.InternetExplorerDriver,WebDriver" />-->
    <alias alias="ChromeDriver" type="OpenQA.Selenium.Chrome.ChromeDriver,WebDriver" />
    <alias alias="WebDriverObject" type="SeleniumTestBeta.DriverObjects.WebDriverObject, SeleniumTestBeta" />
    <alias alias="ChromeDriverObject" type="SeleniumTestBeta.DriverObjects.ChromeDriverObject, SeleniumTestBeta" />
    <alias alias="FirefoxDriverObject" type="SeleniumTestBeta.DriverObjects.FirefoxDriverObject, SeleniumTestBeta" />
    <alias alias="InternetExplorerDriverObject" type="SeleniumTestBeta.DriverObjects.InternetExplorerDriverObject, SeleniumTestBeta" />
    <!--<alias alias="IpadMiniBSDriverObject" type="SeleniumTestBeta.DriverObjects.IpadMiniBSDriverObject, SeleniumTestBeta" />
    <alias alias="Iphone6BSDriverObject" type="SeleniumTestBeta.DriverObjects.Iphone6BSDriverObject, SeleniumTestBeta" />
    <alias alias="SafariDriverObject" type="SeleniumTestBeta.DriverObjects.SafariDriverObject, SeleniumTestBeta" />
    <alias alias="SamsungGalaxys5BSDriverObject" type="SeleniumTestBeta.DriverObjects.SamsungGalaxys5BSDriverObject, SeleniumTestBeta" />
    <alias alias="SamsungGalaxyTab4BSDriverObject" type="SeleniumTestBeta.DriverObjects.SamsungGalaxyTab4BSDriverObject, SeleniumTestBeta" />-->
    <container name="DriverObject">
      <register type="WebDriverObject" mapTo="ChromeDriverObject" name="Chrome" />
      <register type="WebDriverObject" mapTo="FirefoxDriverObject" name="Firefox" />
      <register type="WebDriverObject" mapTo="InternetExplorerDriverObject" name="IE" />
      <!--<register type="WebDriverObject" mapTo="IpadMiniBSDriverObject" name="IpadMini" />
      <register type="WebDriverObject" mapTo="Iphone6BSDriverObject" name="Iphone6" />
      <register type="WebDriverObject" mapTo="SafariDriverObject" name="Safari" />
      <register type="WebDriverObject" mapTo="SamsungGalaxys5BSDriverObject" name="SamsungGalaxyS5" />
      <register type="WebDriverObject" mapTo="SamsungGalaxyTab4BSDriverObject" name="SamsungGalaxyTab4" />-->
    </container>
    <container name="Drivers">
      <register type="IWebDriver" mapTo="ChromeDriver" name="Chrome">
        <constructor />
      </register>
      <register type="IWebDriver" mapTo="InternetExplorerDriver" name="IE">
        <constructor>
          <param name="options" type="InternetExplorerOptions">
            <dependency />
          </param>
        </constructor>
      </register>
      <register type="InternetExplorerOptions">
        <property name="IntroduceInstabilityByIgnoringProtectedModeSettings" value="true" />
      </register>
    </container>
  </unity>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.engine" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.1.0" newVersion="3.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>