<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="UserNameField" value="id:username" />
    <add key="PwdField" value="id:password" />
    <add key="LoginBtn" value="id:BtnLogin" />
    <add key="Select1" value="id:Select1" />
    <add key="Checkbox2" value="id:Checkbox2" />
    <add key="radiobox2" value="id:radiobox2" />
    <add key="CheckboxGroup" value="name:chk" />
    <add key="radiobox3" value="id:radiobox3" />
    <add key="RadioGroup" value="name:rad" />
    <add key="ScreenshotPath" value="C:/Users/shshrivastava/Desktop/Selenium docs/Code/SeleniumTestBeta 3.0 Remote/SeleniumTestBeta 3.0 Remote/SeleniumTestBeta/Screenshots" />
    <add key="RegisterMemberLink" value="linkText:Register Member" />
    <add key="MemberFirstNameField" value="id:MemberFName" />
    <add key="MemberMiddleNameField" value="id:MemberMName" />
    <add key="MemberLastNameField" value="id:MemberLName" />
    <add key="JoiningDateButton" value="id:JoiningDate" />
    <add key="JoiningDateLink" value="linkText:23" />
    <add key="DOBButton" value="id:DOB" />
    <add key="BirthDateLink" value="linkText:4" />
    <add key="SelectGenderField" value="id:Gender" />
    <add key="EmailIDField" value="id:EmailID" />
    <add key="SelectWorkoutType" value="id:WorkouttypeID" />
    <add key="SelectPlan" value="id:PlantypeID" />
    <add key="PhoneNumberField" value="id:Contactno" />
    <add key="AddressField" value="id:Address" />
    <add key="SubmitBtn" value="id:Submit" />
    <add key="HH_SSN3" value="xpath:.//*[@id='ssn3ssn']" />
    <add key="Registration Form" value="Registration Form" />
    <add key="APP_FORM_TYPE" value="xpath:.//*[@id='maFormCd']" />
    <add key="Test_CHECKBOX" value="xpath://*[@id='chkbox2']" />
    <add key="TyrITBTN" value="id:TryIt" />
    <add key="DATA_COLLECTION_HEADING" value="xpath:.//div[@class='body-heading']" />-->

    <add key="LogInLink" value="linkText:Log In"/>
    <add key="SignInBtn" value="name:ctl00$ContentPlaceHolder1$ctl01" />
    <add key="UserNameField" value="id:ContentPlaceHolder1_txtUsername" />
    <add key="PwdField" value="id:ContentPlaceHolder1_txtPassword" />
    <add key="LoginBtn" value="id:ContentPlaceHolder1_SubmitButton" />
    <add key="AcceptBtn" value="name:Accept" />
    <add key="RadioGroup" value="name:IdType" />
    <add key="rdoCaseNumber" value="id:rdoCaseNumber" />
    <add key="txtApplicationNumber" value="id:txtApplicationId" />
    <add key="SearchBtn" value="id:btnSearch" />

    <add key="StartAppLink" value="linkText:Start an Individual Application"/>
    <add key="FirstNameField" value="id:txtFirstName" />
    <add key="MiddleNameField" value="id:textboxMI" />
    <add key="LastNameField" value="id:txtLastName" />
    <add key="SuffixField" value="id:SuffixCode" />
    <add key="DOBField" value="id:calbirthdate" />
    <add key="ApplicationReceivedDateField" value="id:datePickerApplicationDate" />
    <add key="GenderRadioGroup" value="name:GenderCode" />
    <add key="ChannelField" value="id:ddlChanelType" />
    <add key="PrimaryApplicantInformationPost" value="name:PrimaryApplicantInformationPost" />
    
    <add key="chkIsPersonalInfo" value="id:chkIsPersonal" />
    <add key="chkIsFedRenewal" value="id:chkIsFed" />
    <add key="FederalRenewalYearField" value="id:FedYears" />
    <add key="PrivacyStatementPost" value="name:PrivacyStatementPost" />

    <add key="IsAuthRepGroup" value="name:IsAuthorizedRepresentative" />
    <add key="AuthorizedRepresentativeDetailsPost" value="name:AuthorizedRepresentativeDetailsPost" />

    <add key="IsAgentAssigned" value="id:ddlIsAgentAssigned" />
    <add key="IsKynectorAssigned" value="id:ddlIsKynectorAssigned" />
    <add key="AgentOrAssisterPost" value="name:AgentOrAssisterPost" />

    <add key="ConfirmIdentityWarningWithoutSSNPost" value="name:ConfirmIdentityWarningWithoutSSNPost" />

    <add key="ProgramCodeRadioGroup" value="name:ProgramCode[0]" />
    <add key="ApplicantApplyingForPost" value="name:ApplicantApplyingForPost" />

    <add key="WhatAreYouApplyingForWarningPost" value="name:WhatAreYouApplyingForWarningPost" />

    <add key="VerifySuffixField" value="id:HouseholdMembers_0__SuffixCode" />

    <add key="HouseHoldMemberInformationSavenExitPost" value="name:HouseHoldMemberInformationSavenExitPost" />

    <add key="SaveAndExitBtn" value="id:btnSaveAndExit" />
    
    <add key="ScreenshotPath" value="C:\Selenium Automation\MyFirstProject\SeleniumTestBeta 3.0 Remote\SeleniumTestBeta 3.0 Remote\SeleniumTestBeta\Screenshots" />
    <!--<add key="RegisterMemberLink" value="linkText:Log In" />
    <add key="MemberFirstNameField" value="id:MemberFName" />
    <add key="MemberMiddleNameField" value="id:MemberMName" />
    <add key="MemberLastNameField" value="id:MemberLName" />
    <add key="JoiningDateButton" value="id:JoiningDate" />
    <add key="JoiningDateLink" value="linkText:23" />
    <add key="DOBButton" value="id:DOB" />
    <add key="BirthDateLink" value="linkText:4" />
    <add key="SelectGenderField" value="id:Gender" />
    <add key="EmailIDField" value="id:EmailID" />
    <add key="SelectWorkoutType" value="id:WorkouttypeID" />
    <add key="SelectPlan" value="id:PlantypeID" />
    <add key="PhoneNumberField" value="id:Contactno" />
    <add key="AddressField" value="id:Address" />
    <add key="SubmitBtn" value="id:Submit" />-->
    <add key="HH_SSN3" value="xpath:.//*[@id='ssn3ssn']" />
    <add key="Registration Form" value="Registration Form" />
    <add key="APP_FORM_TYPE" value="xpath:.//*[@id='maFormCd']" />
    <add key="Test_CHECKBOX" value="xpath://*[@id='chkbox2']" />
    <add key="TyrITBTN" value="id:TryIt" />
    <add key="DATA_COLLECTION_HEADING" value="xpath:.//div[@class='body-heading']" />
  </appSettings>
</configuration>
