<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="GoogleSearchText" value="id:lst-ib" />
    <add key ="GoogleSearchButton" value="name:btnK" />
<!--    <add key ="GoogleNewsClick" value="//*[@id="rso"]/div[1]/div/div/div/div/h3/a" /> -->
  </appSettings>
</configuration>
